<!-- <p>home-page works!</p> -->

<body>
  <div class="main">
    <div class="navbar">
      <div class="icon">
        <h2 class="logo">SemiPage</h2>
      </div>

      <div class="menu">
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">SERVICE</a></li>
          <li><a href="#">DESIGN</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </div>
    </div>

    <div class="content">
      <h1>My Angular<br /><span>Journey</span></h1>
      <p class="par">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos quos
        sapiente, nobis saepe eum consectetur <br />culpa ullam aliquam odio
        fuga recusandae suscipit exercitationem tenetur beatae totam nesciunt
        perspiciatis nam esse!
      </p>

      <button class="cn"><a href="#">Join Us</a></button>
      <h5>Already have an account ?<a routerLink="/login">login</a></h5>
      <h5>Dont have an account ?<a routerLink="/signup">Sign up</a></h5>
      <h5>dont play dont play with me ,let go through the angular journey </h5>
    </div>
  </div>


 

</body>
