<h1>My TODO's</h1>

<div class="content">
  <!-- <div class="row1"> -->
  <app-todo-item name="kofi" [time]="date"  type="lunch" [isDone]="true"/>
  <app-todo-item name="Grace"  [time]="date1" type="breakfast" [isDone]="true"/>
  <!-- </div> -->
  <!-- <div class="row2"> -->
  <app-todo-item  name="serwaa" [time]="date2"  type="dinner" [isDone]="false"/>
  <app-todo-item  name="jorichi" [time]="date3" type="breakfast"  [isDone]="true"/>
  <app-todo-item  name="ama foriwaa" [time]="date4" type="dinnner" [isDone]="false"/>
  <app-todo-item  name="kwame sika"  [time]="date5"  type="lunch" [isDone]="false"/>
  <app-todo-item  name="sika"  [time]="date6" type="super" [isDone]="true"/>
  <app-todo-item  name="decodeco" [time]="date7" type="breakfast" [isDone]="true"/>
  <!-- </div> -->

  <h5> Go to homepage?<a routerLink="/login">login</a></h5> 
</div>
