<h1>My TODO's</h1>

<div class="content">
  <!-- <div class="row1"> -->
  <app-todo-item name="kofi" time="13:30" type="lunch" status="done"/>
  <app-todo-item name="Grace"  time="12:00" type="breakfast" status="not done"/>
  <!-- </div> -->
  <!-- <div class="row2"> -->
  <app-todo-item  name="serwaa" time="06:50"  type="dinner" status="done"/>
  <app-todo-item  name="jorichi" time="07:07" type="breakfast"  status="done"/>
  <app-todo-item  name="ama foriwaa" time="14:09" type="dinnner" status="not done"/>
  <app-todo-item  name="kwame sika"  time="16:00"  type="lunch" status="done"/>
  <app-todo-item  name="sika"  time="23:00" type="super" status="done"/>
  <app-todo-item  name="decodeco" time="17;32" type="breakfast" status="done"/>
  <!-- </div> -->

  <h5> Go to homepage?<a routerLink="/login">login</a></h5> 
</div>
